
$pink:         #f55370;
$light-pink-1: #f6647e;
$light-pink-2: #f7758c;
$light-pink-3: #f8869a;
$light-pink-4: #f997a9;
$light-pink-5: #faa9b7;
$light-pink-6: #fbbac5;
$light-pink-7: #fccbd4;
$light-pink-8: #fddce2;
$dark-pink-1:  #dc4a64;
$dark-pink-2:  #c44259;
$dark-pink-3:  #ab3a4e;
$dark-pink-4:  #933143;
$dark-pink-5:  #7a2938;
$dark-pink-6:  #62212c;
$dark-pink-7:  #491821;
$dark-pink-8:  #311016;

.signIn {
  background-color: $pink;
  .form-control {
    margin: 10px;
    width: 80%;
  }
}

.signInHeader {
  h3 {
    margin: 20px;
  }
}

$blue: #1a6297; /* #f55370; */ /* #006699; */
$light-blue: #5e91b6;
$light-light-blue: #a3c0d5;

#fb0571;